<!--
<footer id="footer-nav-wrap">
	<div id="footer-nav" class="layout-wrap">
		<div id="footer-nav-left">
			<div id="footermenu" class="menu-%e5%ba%95%e9%83%a8%e5%af%bc%e8%88%aa-container">
				<ul id="footer-nav-links" class="footermenu">
					<li id="menu-item-3377" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3377"><a target="_blank" rel="nofollow" href="{{ site.url }}/go/shaozhiwei">关于</a></li>
					<li id="menu-item-4800" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4800"><a href="{{ site.url }}/tools.html">工具箱</a></li>
					<li id="menu-item-4801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4801"><a href="{{ site.url }}/articles.html">文章中心</a></li>
					<li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a target="_blank" href="{{ site.url }}/gallery.html">相册</a></li>
					<li id="menu-item-1401" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1401"><a target="_blank" href="{{ site.url }}/sitemap.xml">百度地图</a></li>
					<li id="menu-item-2366" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2366"><a target="_blank" href="{{ site.url }}/library/">Discuz资料库</a></li>
				</ul>
			</div>
			<div id="footer-copyright">© 2014 - 2016 				技术宅版权所有				&nbsp;|&nbsp;<span id="cnzz_stat_icon_1000060600"><a href="http://www.cnzz.com/stat/website.php?web_id=1000060600" target="_blank" title="站长统计">站长统计</a>
				</span>&nbsp;|&nbsp;<a href="{{ site.url }}/go/miitbeian" target="_blank">苏ICP备13048390号-2</a>
			</div>
		</div>
		<div id="footer-nav-right">
			<div id="footer-links-icons"> 
				<span class="footer-wordpress-link"> <a class="wordpress"> <span class="tinicon-wordpress"><i class="fa fa-wordpress"></i></span> <br>WordPress </a> </span> 
				<span class="footer-aliyun-link"> <a class="aliyun"> <span class="tinicon-aliyun"><i class="fa fa-cloud"></i></span> <br>Aliyun </a> </span> 
				<span class="footer-qiniu-link"> <a href="{{ site.url }}/go/qiniu" target="_blank" class="qiniu"> <span class="tinicon-qiniu"></span> <br>Qiniu </a> </span> 
				<span class="footer-sinaweibo-link"> <a href="{{ site.url }}/go/weibo" target="_blank" class="sinaweibo"> <span class="tinicon-sinaweibo"><i class="fa fa-weibo"></i></span> <br>Weibo </a> </span> 
				<span class="footer-qq-link"> <a href="{{ site.url }}/go/qq" target="_blank" class="qq"> <span class="tinicon-qq"><i class="fa fa-qq"></i></span> <br>QQ </a> </span> 
				<span class="footer-rss-link"> <a href="{{ site.url }}/feed" target="_blank" class="rss"> <span class="tinicon-rss"><i class="fa fa-rss"></i></span> <br>RSS </a> </span> 
				<span class="footer-newsletter-link"> <a href="{{ site.url }}/newsletter.html" target="_blank" class="newsletter"> <span class="tinicon-newsletter"><i class="fa fa-envelope"></i></span> <br>Newsletter </a> </span>
			</div>
			<div class="clear clr"></div>
		</div>
	</div>
	<div id="circle" style="display: none;"></div>
	<div id="circle1" style="display: none;"></div>
</footer>
-->
