    		</section>
        </div>
		<div id="sign" class="sign">
			<div class="part loginPart">
				<form id="login" action="https://www.0513c.com/wp-login.php" method="post" novalidate="novalidate">
					<div id="register-active" class="switch"><i class="fa fa-toggle-on"></i>切换注册</div>
					<h3>登录<p class="status"></p></h3>
					<p> <label class="icon" for="username"><i class="fa fa-user"></i></label> <input class="input-control" id="username" type="text" placeholder="请输入用户名或者邮箱" name="username" required="" aria-required="true"></p>
					<p> <label class="icon" for="password"><i class="fa fa-lock"></i></label> <input class="input-control" id="password" type="password" placeholder="请输入密码" name="password" required="" aria-required="true"></p>
					<p class="safe"> <label class="remembermetext" for="rememberme"><input name="rememberme" type="checkbox" checked="checked" id="rememberme" class="rememberme" value="forever">记住我的登录</label> <a class="lost" href="https://www.0513c.com/wp-login.php?action=lostpassword">忘记密码 ?</a></p>
					<p> <input class="submit" type="submit" value="登录" name="submit"></p> <a class="close"><i class="fa fa-times"></i></a> <input type="hidden" id="security" name="security" value="0bf77e7879"> <input type="hidden" name="_wp_http_referer" value="/">
				</form>
				<div class="other-sign">
					<p>您也可以使用第三方帐号快捷登录</p>
					<div class="2-col"><a class="qqlogin" href="https://www.0513c.com/?connect=qq&amp;action=login&amp;redirect=https%3A%2F%2Fwww.0513c.com%2Fwordpress-4-5-coleman.html"><i class="fa fa-qq"></i><span>Q Q 登 录</span></a></div>
					<div class="2-col"><a class="weibologin" href="https://www.0513c.com/?connect=weibo&amp;action=login&amp;redirect=https%3A%2F%2Fwww.0513c.com%2Fwordpress-4-5-coleman.html"><i class="fa fa-weibo"></i><span>微 博 登 录</span></a></div>
				</div>
			</div>
			<div class="part registerPart">
				<form id="register" action="https://www.0513c.com/wp-login.php?action=register" method="post" novalidate="novalidate">
					<div id="login-active" class="switch"><i class="fa fa-toggle-off"></i>切换登录</div>
					<h3>注册<p class="status"></p></h3>
					<p> <label class="icon" for="user_name"><i class="fa fa-user"></i></label> <input class="input-control" id="user_name" type="text" name="user_name" placeholder="输入英文用户名" required="" aria-required="true"></p>
					<p> <label class="icon" for="user_email"><i class="fa fa-envelope"></i></label> <input class="input-control" id="user_email" type="email" name="user_email" placeholder="输入常用邮箱" required="" aria-required="true"></p>
					<p> <label class="icon" for="user_pass"><i class="fa fa-lock"></i></label> <input class="input-control" id="user_pass" type="password" name="user_pass" placeholder="密码最小长度为6" required="" aria-required="true"></p>
					<p> <label class="icon" for="user_pass2"><i class="fa fa-retweet"></i></label> <input class="input-control" type="password" id="user_pass2" name="user_pass2" placeholder="再次输入密码" required="" aria-required="true"></p>
					<p id="captcha_inline"> <input class="input-control inline" type="text" id="tin_captcha" name="tin_captcha" placeholder="输入验证码" required="" aria-required="true"> <img src="https://www.0513c.com/wp-content/themes/tinection/images/captcha-clk.png" class="captcha_img inline" title="点击刷新验证码"> <input class="submit inline" type="submit" value="注册" name="submit"></p> 
					<a class="close"><i class="fa fa-times"></i></a> 
					<input type="hidden" id="user_security" name="user_security" value="175fe226af">
					<input type="hidden" name="_wp_http_referer" value="/">
				</form>
			</div>
			<div class="clear"></div>
		</div>
		<div class="floatbtn">
			<span class="randompost mobile-hide" title="试试手气"><a href="{{ site.url }}/random,html" rel="nofollow"><i class="fa fa-refresh"></i></a></span>
			<span id="qr" class="mobile-hide">
				<i class="fa fa-qrcode"></i>
				<div id="floatbtn-qr">
					<div id="qrcodeCanvas"><canvas width="112" height="112"></canvas></div>
					<div id="floatbtn-qr-msg">扫一扫二维码分享</div>
				</div> 
			</span>
			<span id="zh-cn-tw" class="mobile-hide"><i><a id="StranLink" href="javascript:StranBody()">繁</a></i></span>
			<span id="layoutswt" class="mobile-hide"> <i class="fa fa-th is_blog" src="{{ site.url }}"></i> </span>
			<span id="back-to-top"><i class="fa fa-arrow-up"></i></span>
		</div>
		<script type="text/javascript">var defaultEncoding = 0; var translateDelay = 100; var cookieDomain = "{{ site.url }}";</script>
		<script type="text/javascript" src="{{ site.url }}/tinection/includes/js/theme.min.js"></script>
		<script type="text/javascript">$('.site_loading').animate({'width':'100%'},50);  //第五个节点</script>
		<script>
			//disable right click
			function md(e) 

			{ 

			  try { if (event.button==2||event.button==3) return false; }  

			  catch (e) { if (e.which == 3) return false; } 

			}

			//document.oncontextmenu = function() { return false; }

			//document.ondragstart   = function() { return false; }

			//document.onmousedown   = md;
		</script>
		<script type="text/javascript">
			disable_copy(document.body);

			document.body.onkeypress = disableEnterKey; //this disable Ctrl+A select action for firefox specially

			//chrome + mac

			$(document).keydown(function(event) {

			//if(event.which == 17) return false; //chrome ctrl key

			//if(event.which == 157) return false; //mac command key

			//if(event.ctrlKey) return false; //random

			//event.preventDefault();

			//return false;

			});
		</script>
		<script>
			function fuckyou(){
			    window.close(); //关闭当前窗口(防抽)
			    window.location="about:blank"; //将当前窗口跳转置空白页
			}
			function ck() {
			    console.profile();
			    console.profileEnd();
			    //我们判断一下profiles里面有没有东西，如果有，肯定有人按F12了，没错！！
			    if(console.clear) { console.clear() };
			    if (typeof console.profiles =="object"){
			    	return console.profiles.length > 0;
			    }
			}
			function hehe(){
				if( (window.console && (console.firebug || console.table && /firebug/i.test(console.table()) )) || (typeof opera == 'object' && typeof opera.postError == 'function' && console.profile.length > 0)){
				  	fuckyou();
					}
				if(typeof console.profiles =="object"&&console.profiles.length > 0){
					fuckyou();
					}
				}
				hehe();
				window.onresize = function(){
				if((window.outerHeight-window.innerHeight)>100)//判断当前窗口内页高度和窗口高度，如果差值大于200，那么呵呵
			  		fuckyou();
			}
		</script>
		<script type="text/javascript" src="{{ site.url }}/tinection/includes/js/html.js"></script>
		<script type="text/javascript" src="{{ site.url }}/tinection/includes/js/headroom.min.js"></script>
		<script>
			(function() { new Headroom(document.querySelector("#nav-scroll"), { offset : 5, tolerance: 5, classes: { initial: "animated", pinned: "slideUp", unpinned: "slideDown" } }).init(); }());
		</script>
    </body>
</html>