<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <title>{% if page.title == 'home' %} {{ site.name }} - {{site.sub_name}}  {% else %} {{ page.title }} - {{ site.name }} {% endif %}</title>
        {% if page.title == 'home' %}  
        <meta name="description" content="{{ site.description }}" />
        <meta name="keywords" content="{{ site.keywords }}" />
        {% else %}
        <meta name="description" content="{{ page.description }}" />
        <meta name="keywords" content="{{ page.keywords }}" />
        {% endif %}
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- 禁止浏览器初始缩放 -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        
    </head>
<body>
