<div id="head">
  <dl>
    <div class="logo_img" style="display:none">
      <a href="http://www.yangniuren.cn/"><img src="/resources/images/logo.png" /></a>
    </div>
    <div class="logo" style="display:">
      <h1><a href="http://www.yangniuren.cn/">江西养牛人博客</a></h1>
      <h2>江西养牛场,江西养牛基地,江西肉牛养殖场</h2>
    </div>
    <div class="ad1">
      <table width="640" height="60" border="0" cellpadding="0" cellspacing="0" bgcolor="#eeeeee">
        <tr align="center">
          <td style="line-height:18px;font-size:12px;color:#888;padding-left:10px;">我是江西养牛人，这是我的养牛博客，这里有生活感悟，工作日志，经验交流；在这里记录养牛生活的点滴，分享养牛技术经验，浅谈养牛市场前景、行情、利润、政策补贴等相关信息。想了解我的最新动态，请关注江西养牛人博客。</td>
        </tr>
      </table>
    </div>
  </dl>
</div>

<div id="menu">
  <div id="nav">
    <ul>
      <li><a href="http://www.yangniuren.cn/">博客首页</a></li> 
      <li id="menu-cate-1"><a href="http://www.yangniuren.cn/catalog.asp?cate=1">生活工作日志</a></li>
      <li id="menu-cate-2"><a href="http://www.yangniuren.cn/catalog.asp?cate=2">技术大全</a></li>
      <li id="menu-cate-8"><a href="http://www.yangniuren.cn/catalog.asp?cate=8">交易市场</a></li> 
      <li id="menu-page-2"><a href="http://www.yangniuren.cn/JiangXiYangNiu.html">养牛场名录</a></li> 
      <li id="menu-page-1"><a href="http://www.yangniuren.cn/about.html">欢迎给我留言</a></li> 
      <li><a href="http://www.yangniuren.cn/tags.asp">标签</a></li> 
    </ul>
    <div id="search">
      <form method="post" action="http://www.yangniuren.cn/zb_system/cmd.asp?act=Search">
        <input type="text" name="edtSearch" id="edtSearch" size="12" />
        <input type="submit" value="搜索" name="btnPost" id="btnPost" />
      </form>
    </div>
  </div>
</div>
