<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link type="text/css" media="all" href="{{ site.url }}/tinection/includes/css/autoptimize.css" rel="stylesheet">
        <title>{% if page.title == 'home' %} {{ site.name }} - {{site.sub_name}}  {% else %} {{ page.title }} - {{ site.name }} {% endif %}</title>
        {% if page.title == 'home' %}  
        <meta name="description" content="{{ site.description }}" />
        <meta name="keywords" content="{{ site.keywords }}" />
        {% else %}
        <meta name="description" content="{{ page.description }}" />
        <meta name="keywords" content="{{ page.keywords }}" />
        {% endif %}
        <link rel="icon" href="{{ site.url }}/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="{{ site.url }}/favicon.ico" />
        <!-- 禁止浏览器初始缩放 -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <!-- 引入主题样式表 -->
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/tinection/style.css" />
        <!-- 引入主题响应式样式表-->
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/tinection/includes/css/responsive.css"  />
        <!-- 引入自定义样式表 -->
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/tinection/includes/css/customcss.php"  />
        <!-- 引入字体样式表-->
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/tinection/fonts/font-awesome/font-awesome.css"  media="all" />
        <script type='text/javascript' src='{{ site.url }}/tinection/includes/js/jquery.min.js'></script>
        <!-- IE Fix for HTML5 Tags -->
        <!--[if lt IE 9]>
        <script src="{{ site.url }}/tinection/includes/js/html5.js"></script>
        <script src="{{ site.url }}/tinection/includes/js/css3-mediaqueries.js"></script>
        <script src="{{ site.url }}/tinection/includes/js/PIE_IE678.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/tinection/includes/css/iefix.css"  media="all" />
        <![endif]-->
        <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/tinection/fonts/font-awesome/font-awesome-ie7.min.css"  media="all" />
        <![endif]-->
        <!--[if IE 6]>
        <script src="{{ site.url }}/tinection/includes/js/kill-IE6.js"></script>
        <![endif]-->
    </head>
