    <body id="wrap" class="home blog" style="background:#ffffff; background:url() top left repeat,url(https://reg.0513c.com/uploads/2016/04/2016-04-2699.png) top center ; background-attachment: fixed; background-size: 2px 2px,initial;">
        <!-- Nav -->
        <!-- Moblie nav-->
        <div id="body-container">
            <aside id="navmenu-mobile">
                <div id="navmenu-mobile-wraper">
                    <div class="mobile-login-field">
                        <div id="login-box-mobile">
                            <div class="login-box-mobile-form"> 
                                <button data-sign="0" class="btn btn-primary user-login">登录</button> 
                                <button data-sign="1" class="btn btn-success user-reg">注册</button>
                            </div>
                        </div>
                    </div>
                    <ul id="menu-mobile" class="menu-mobile">
                        <li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-46"><a href="/"><i class="fa fa-home"></i> 首页<span>Home</span></a></li>
                        <li id="menu-item-38" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-38"><a href="{{ site.url }}/life"><i class="fa fa-send"></i> 慢生活</a></li>
                        <li id="menu-item-42" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-42"><a href="{{ site.url }}/share"><i class="fa fa-share"></i> 分享</a></li>
                        <li id="menu-item-39" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-39"><a href="{{ site.url }}/technology"><i class="fa fa-gears"></i> 技术</a></li>
                        <li id="menu-item-1696" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1696"><a target="_blank" href="{{ site.url }}/store"><i class="fa fa-shopping-cart"></i> 商店</a></li>
                    </ul>
                </div>
            </aside>
            <section id="content-container">
                <header class="header-wrap" id="nav-scroll">
                    <div class="nav-wrap">
                        <div class="logo"> <a href="{{ site.url }}" alt="技术宅" title="技术宅" id="logo" > <img src="https://reg.0513c.com/uploads/img/logojsz.png"> </a></div>
                        <div class="toggle-menu"> <i class="fa fa-bars"></i></div>
                        <div class="search-btn-click"> <i class="fa fa-search"></i></div>
                        <div id="login-reg"> 
                            <span data-sign="0" id="user-login" class="user-login ie_pie "> 登录</span> 
                            <span data-sign="1" id="user-reg" class="user-reg ie_pie">注册</span>
                        </div>
                        <div id="focus-us"> 关注我们
                            <div id="focus-slide" class="ie_pie">
                                <div class="focus-title">关注我们</div>
                                <p class="focus-content"> 
                                    <a href="{{ site.url }}/go/weibo" target="_blank" class="sinaweibo">
                                        <span><i class="fa fa-weibo"></i>新浪微博</span>
                                    </a> 
                                    <a href="{{ site.url }}/go/tencent" target="_blank" class="sinaweibo"><span><i class="fa fa-tencent-weibo"></i>腾讯微博</span></a>
                                </p>
                                <div class="focus-title">联系我们</div>
                                <p class="focus-content" style="line-height: 20px;margin-bottom: 10px;"> 
                                    <a href="{{ site.url }}/go/qq" target="_blank" class="qq"><span><i class="fa fa-qq"></i>QQ</span></a> 
                                    <a href="{{ site.url }}/go/mail" target="_blank"><span><i class="fa fa-envelope"></i>发送邮件</span></a>
                                </p>
                                <div class="focus-title">订阅本站<i class="fa fa-rss"></i></div>
                                <p class="focus-content"> <input type="text" name="rss" class="rss" value="{{ site.url }}/feed" /></p>
                                <p class="focus-content">订阅到： 
                                    <a rel="external nofollow" target="_blank" href="{{ site.url }}/go/xianguo">鲜果</a> 
                                    <a rel="external nofollow" target="_blank" href="{{ site.url }}/go/youdao">有道</a> 
                                    <a rel="external nofollow" target="_blank" href="{{ site.url }}/go/feedly">Feedly</a>
                                </p>
                            </div>
                        </div>
                        <nav id="pri-nav" class="site-navigation pri-nav " role="navigation">
                            <div class="menu-%e9%a1%b6%e9%83%a8%e8%8f%9c%e5%8d%95-container">
                                <ul id="menu-%e9%a1%b6%e9%83%a8%e8%8f%9c%e5%8d%95" class="nav-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-46"><a href="/"><i class="fa fa-home"></i> 首页<span>Home</span></a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-38"><a href="{{ site.url }}/life"><i class="fa fa-send"></i> 慢生活</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-42"><a href="{{ site.url }}/share"><i class="fa fa-share"></i> 分享</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-39"><a href="{{ site.url }}/technology"><i class="fa fa-gears"></i> 技术</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1696"><a target="_blank" href="{{ site.url }}/store"><i class="fa fa-shopping-cart"></i> 商店</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="clr"></div>
                    <div class="site_loading"></div>
                    <div class="header-search-slide" style="display: none;">
                        <form method="get" id="searchform-slide" class="searchform" action="{{ site.url }}" role="search"> 
                            <input type="search" class="field" name="s" value="" placeholder="输入关键词并回车" required> 
                                <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </header>