<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="狂奔的蜗牛,蜗牛,技术,Java,C++,Redis,mysql,SpringMVC,架构,高并发,数据库,缓存,服务器,程序,日记,博客">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} RSS" href="{{ "/feed.xml" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href="{{ site.url }}/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- Custom CSS -->
    <!-- build:css /release/style.css -->
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/posts.css">
    <link rel="stylesheet" href="/assets/css/pygments.css">
    <link rel="stylesheet" href="/assets/css/pages.css">
    <link rel="stylesheet" href="/assets/css/duoshuo.css">
    <!-- endbuild -->


    <!-- Hit Kounter LC -->
    <script src="https://cdn1.lncld.net/static/js/av-mini-0.6.10.js"></script>
    <script src="http://jerry-cdn.b0.upaiyun.com/hit-kounter/hit-kounter-lc-0.2.0.js"></script>
    
    <!-- handle external js files -->
    <script src="/assets/js/lib/jquery/jquery-1.11.1.min.js"></script>
</head>
