<div class="breadcrumbs">
	<div class="container clr">
		<div id="breadcrumbs">
			<h1>{{ page.title }}</h1>
			<div class="breadcrumbs-text"><a href="{{ site.url }}" title="{{site.sub_name}}">主页</a>&nbsp;»&nbsp;<a href="{{ site.url }}/share" rel="category tag">{{ page.categories }}</a>&nbsp;»&nbsp;{{ page.title }}</div>
		</div>
	</div>
</div>


<!--
<article class="container content">
    <article class="row">
		<section class="article-list col-8 col-mb-12">
	    	
	        <section class="distant">
	        <a href="{{ site.url }}">首页</a>
	        <span>&gt;</span><a href="http://www.qs5.org/category/exper/">心得分享</a><span>&gt;</span>{{ page.title }}            
	        </section>
	        <article class="article">
		        <h2 class="article-title">
		            <a href="http://www.qs5.org/Post/616.html">[玩]极客学院领70天VIP小脚本。</a>
		        </h2>
	    
		        <section class="article-meta">
		            <ul>
		                <li>{{ page.date | date: "%Y/%m/%d" }}</li>
		                <li><span>|</span></li>
		                <li><a href="http://www.qs5.org/category/exper/">心得分享</a></li>
		            </ul>
		        </section>
		    -->    