<article class="container content">
    <article class="row">
		<section class="article-list col-8 col-mb-12">
	    	<!-- 在非index页面添加面包屑导航 -->
	        <section class="distant">
	        <a href="{{ site.url }}">首页</a>
	        <span>&gt;</span><a href="http://www.qs5.org/category/exper/">心得分享</a><span>&gt;</span>{{ page.title }}            
	        </section>
	        <!-- 面包屑导航结束 -->
			<article class="article">
		        <h2 class="article-title">
		            <a href="http://www.qs5.org/Post/616.html">[玩]极客学院领70天VIP小脚本。</a>
		        </h2>
	    
		        <section class="article-meta">
		            <ul>
		                <li>{{ page.date | date: "%Y/%m/%d" }}</li>
		                <li><span>|</span></li>
		                <li><a href="http://www.qs5.org/category/exper/">心得分享</a></li>
		            </ul>
		        </section>
		        