<section class="side-list col-4 kit-hidden-tb">
            <article class="article recent-posts">
                <h3>最新文章</h3>
                <ul>
                
                </ul>
            </article>
            <article class="article recent-comments">
                <h3>最近回复</h3>
                <ul>
                    <li>
                        <a href="http://www.zyl.me" rel="external nofollow">ZYL的博客</a>：
                        <a href="http://www.qs5.org/links/comment-page-1#comment-7221">亲，交换友链吗？刚刚出第一版呢，http://www....</a>
                    </li>
                    
                </ul>
            </article>
            <article class="article friend-list">
                <h3>友情链接</h3>
                <ul>
                    
                    <li><a href="http://wordpress.org.cn" target="_blank">WordPress中文论坛</a></li>
                    <li><a href="http://www.hyear.net/" target="_blank">动力火柴’s 手札</a></li>
                    <li><a href="http://www.zuidaima.com/" target="_blank">最代码</a></li>
                    <li><a href="http://cchpdbk.blog.163.com/" target="_blank">村头㈠朵草╮</a></li>
                    <li><a href="http://www.mrj520.com/" target="_blank">神话小马官方博客</a></li>
                    <li><a href="http://blog.jiajieit.net/" target="_blank">陈家杰’s Blog</a></li>
                    <li><a href="http://bbs.yxmrp.com" target="_blank">雨轩免费建站</a></li>
                    <li><a href="http://www.mmtx.net/" target="_blank">麦麦同学</a></li>
                    <li><a href="http://mcluo.com" target="_blank">路边的灯</a></li>
                    <li><a href="http://www.lvoyee.com/" target="_blank">伊成Blog</a></li>
                    <li><a href="http://www.linovo.me/" target="_blank">Linovo's Blog</a></li>
                    <li><a href="http://zyl.me/" target="_blank">ZYL的博客</a></li>        </ul>
            </article>
        </section>