<div id="sidebar" class="clr">
	<div id="tinsubscribe-4" class="widget widget_tinsubscribe">
		<h3><span class="widget-title">邮件订阅</span></h3> 
		<span id="subscribe-span"> <input type="text" name="subscribe" id="subscribe" placeholder="yourname@domain.com"><button id="subscribe" class="btn btn-success">订阅</button><p id="subscribe-msg" style="display:none;margin-top:5px;margin-left:auto;margin-right:auto;font-size:12px;color:#f00;"></p> </span>
	</div>
	<div id="text-12" class="widget widget_text">
		<div class="textwidget">
			<span class="ishttps" id="wcp"><div class="warn-content" align="center" id="wc"><i class="fa fa-lock"></i> 当前采用HTTPS加密传输</div> </span> 
			<script type="text/javascript">
				if ('https:' == document.location.protocol) {
	        		document.getElementById("wc").innerHTML = "<i class=\"fa fa-lock\"></i> 当前采用HTTPS加密传输";
	        		document.getElementById('wcp').className = "ishttps";
	    			} else {
	        		document.getElementById("wc").innerHTML = "<i class=\"fa fa-exclamation-triangle\"></i> 警告：当前连接未经加密";
	        		document.getElementById('wcp').className = "nothttps";
    			}
    			document.getElementById("wcp").href = "https:" + window.location.href.substring(window.location.protocol.length);
    		</script>
    	</div>
    </div>
</div>