{% include head.html %}
{% include header.html %}
{% include post-header.html %}
				<section class="article-content">
					{{ content }}
				</section>

		        <section class="article-tags">
		        	Tags: <a href="http://www.qs5.org/tag/js%E8%84%9A%E6%9C%AC/">js脚本</a>, <a href="http://www.qs5.org/tag/%E6%9E%81%E5%AE%A2%E5%AD%A6%E9%99%A2/">极客学院</a>        
		    	</section>

		        <section class="article-near">
		            <p>上一篇: <a href="http://www.qs5.org/Post/615.html" title="PHP生成不重复的随机UID，UUID，GUID">PHP生成不重复的随机UID，UUID，GUID</a></p>
		            <p>下一篇: <a href="http://www.qs5.org/Post/622.html" title="有没有安全的工作？">有没有安全的工作？</a></p>
		        </section>
		        {% include post-footer.html %}
		     </article>
		</section>
		{% include side.html %}
    </article>
</article>
{% include footer.html %}
{% include foot.html %}